<table class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>time</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.time}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>