#slideshow{
    height: 60vh;
    max-width: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.container-modify{
    height: 60vh;
}
h1{
    text-align: center;
    padding-top: 30vh;
    color: white;
    font-size: 100px;
    font-family: 'Indie Flower', cursive;
    font-weight:bolder; 
}
#form{
    height: 40vh;
    color: black;
    padding-top:20px; 
}


